/*
Theme Name: I feel dirty
Theme URI: http://studio.st/i-feel-dirty/
Description: A clean but dirty template by <a href="http://studio.st/">Studio ST</a>
Version: 1.0
Author: The studio ST team
Author URI: http://studio.st/
*/

* {
  margin: 0px;
  padding: 0px;
  }
body {
  background: #2c2c2c url(img/bodybg2.gif) no-repeat top center;
  color: #000;
  font-size: 11px;
  font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  }
img {
  border: 0px;
  }
.cnt {
  width: 760px;
  background-color: #fff;
  margin: 20px auto 30px;
  }

/* ------------------------------------------------------------------------------
  header
------------------------------------------------------------------------------ */
.header{
  background: url(img/headerbg.gif) no-repeat;
  width: 760px;
  height: 143px;
  float: left;
  }
.head1 {
  width: 485px;
  padding: 40px 15px 0 0;
  text-align: center;
  float: left;
}
.header h1 a {
  color: #fff;
  text-decoration: none;
}
.header h1 a:hover {
  text-decoration: underline;
}
.header h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 0px;
}
.description {
  color: #fff;
  font-size: 12px;
}
.head2 {
  width: 255px;
  float: left;
  margin-top: 15px;
}
.head2 p {
  color: #fff;
  padding: 0 15px;
  font-size: 12px;
  line-height: 16px;
}
.head2 h3 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 5px;
  padding: 15px 0 0 16px;
  text-transform: lowercase;
}


/* ------------------------------------------------------------------------------
  main
------------------------------------------------------------------------------ */
.main {
  width: 760px;
  }
.content {
  padding: 20px 0 0 15px;
  float: left;
  width: 464px;
  margin-right: 17px;
  }
.content a {
  color: #9b0e0e;
  }
.navigation {
  font-size: 14px;
  margin-bottom: 15px;
  }
.post {
  margin-bottom:30px;
  }
.posttitle {
  margin-bottom: 15px;
  }
.post h2 {
  color: #294A59;
  font-size: 26px;
  font-weight: normal;
  letter-spacing: -1px;
  }
h2.pagetitle {
  color: #555;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 15px;
  }
.post h2 a {
  color: #294A59;
  text-decoration:none;
  }
.post h2 a:hover {
  text-decoration:underline;
}
.post small {
  color: #294A59;
  display: block;
  margin-bottom: 15px;
  }
.post p {
  font-size: 14px;
  margin-bottom: 15px;
  line-height:21px;
  }
.post blockquote {
  background: url(img/blockquotebg2.gif) no-repeat;
  color: #294a59;
  padding: 15px 0 0 42px;
}
.post ul.links {
  font-size: inherit;
}
.post ul.links li {
  background: url(img/bullet02.gif) no-repeat 6px 2px;
}

.post ul {
  list-style-type: none;
  font-size: 14px;
  margin-bottom: 15px;
  }
.post ul li {
  background: url(img/bullet02.gif) no-repeat 6px 5px;
  margin-bottom: 5px;
  padding-left: 17px;
  }
p.postmetadata {
  font-size:11px;
  margin:3px 0;
  }

/* ------------------------------------------------------------------------------
  sidebar
------------------------------------------------------------------------------ */
.sidebar {
  font-size: 12px;
  float: left;
  width: 254px;
  margin-left: 4px;
  padding: 10px 6px 0 0;
  line-height: 14px;
  }
.block-odd, .block-even {
  margin-bottom: 10px;
  }
.block-odd {
  background: #e8e6d9 url(img/bloque1bg.jpg) no-repeat;
  }
.block-even {
  background: #e2ebed url(img/bloque2bg.jpg) no-repeat;
  }
.block-odd h3 {
  color: #6c644d;
  }
.block-odd h3, .block-even h3 {
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 10px;
  padding: 20px 0 5px 16px;
  text-transform: lowercase;
  }
.block-even h3 {
  color: #294A59;
  }
.sidebar ul {
  list-style-type: square;
  padding-left: 30px;
  }
.sidebar p {
  line-height: 16px;
}
.sidebar ul li {
  margin-bottom: 5px;
  }
.sidebar ul span {
  color: #000;
  }
.sidebar ul a {
  color: #000;
  text-decoration: none;
  }
.block-odd ul a {
  border-bottom: 1px dashed #968e77;
  }
.block-odd p a, .block-even p a {
  color: #000;
  }
.block-odd ul a:hover, .block-odd p a:hover {
  background-color: #6c644d;
  color: #fff;
  border: 0px;
  }
.block-even ul a {
  border-bottom: 1px dashed #668b9c;
  }
.block-even ul a:hover, .block-even p a:hover {
  background-color: #294A59;
  color: #fff;
  border: 0px;
  }
.block-odd ul {
  color: #968e77;
  padding-bottom: 12px;
  }
.block-even ul {
  color: #668b9c;
  padding-bottom: 12px;
  }

/* search */
.buscar {
  padding: 0px 15px 15px;
  }
.bus1 {
  width: 140px;
  font-size: 16px;
  border: 1px solid #aaa;
  }
.bus2 {
  vertical-align: top;
  }
.sidebar p {
  padding: 0 10px 15px 16px;
  }
/* subscribe */
.subscriberss {
  padding: 0px 0 15px 15px;
  }
.subscriberss select {
  width: 110px;
  margin: 5px 5px 0 10px;
  float: left;
  }
.subscriberss a {
  float: left;
  }
.subscriberss a.btnnofloat {
  float: none;
  }
.subscriberss a.rsstext {
  color: #000;
  margin: 5px 0 0 3px;
  float: left;
  }
.bus1 {
  width: 140px;
  font-size: 16px;
  border: 1px solid #aaa;
  }
.bus2 {
  vertical-align: top;
  }


/* ------------------------------------------------------------------------------
                                                          comments
------------------------------------------------------------------------------ */
h2.responses {
  color: #294a59;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  margin-bottom: 10px;
  text-transform: lowercase;
  }
.commentlist {
  width: 464px;
  margin-bottom: 20px;
  list-style-type: none;
  font-size: 14px;
}
.commentlist li {
  background: #e4ecee url(img/commentlistbg3.jpg) no-repeat;
  padding-top: 20px;
  margin-bottom:15px;
}
.commentcontent {
  padding: 0 10px;
  margin-bottom: 15px;
}
.commentcontent {
  margin-bottom: 15px;
  font-size:12px;
  color:#333;
  line-height:17px;
}
.commentcontent a {
  color: #265368;
}
p.authorcom {
  background-color: #fff;
  text-align: right;
}
p.authorcom span {
  background: #fff url(img/authorbg3.jpg) no-repeat;
  color: #294a59;
  font-size: 16px;
  padding-left: 100px;
}
.authorcom small {
  font-size: 10px;
}
.commentcontent {
  padding: 0 10px;
}
.commentcontent ul.links {
  font-size:inherit;
}
.commentcontent ul.links li {
  padding-left: 10px;
}
.commentcontent ul {
  list-style-type: none;
  font-size:12px;
  color:#333;
  line-height:17px;
}
.commentcontent li {
  background: transparent url(img/bullet02.gif) no-repeat 0px 5px;
  padding-left: 15px;
  padding-top: 0px;
  margin-bottom: 5px;
}
.commentcontent blockquote {
  background-color: #d5e0e3;
  margin-bottom: 15px;
  padding: 5px 5px 2px 8px;
  border-left: 4px solid #b1c6d0;
  font-size:11px;
  color:#777;
  line-height:17px;
}
.commentcontent blockquote p {
  margin-bottom:5px;
}
.commentform {
  background: #f2f6f7 url(img/commentform2bg.jpg) no-repeat;
  width: 440px;
  padding: 20px 12px 0 12px;
  margin-bottom: 20px;
  }
.commentform h2 {
  color: #294a59;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: normal;
  margin-bottom: 10px;
  text-transform: lowercase;
  }
.cfbox1 {
  width: 150px;
  margin-right: 20px;
  padding-left: 3px;
  float: left;
}
.cfbox2 {
  width: 250px;
  float: left;
}
.cfbox2 textarea {
  width: 250px;
  height: 108px;
}
.cfbox3 {
  background: transparent url(img/cfbox3bg2.jpg) no-repeat right bottom;
  width: 440px;
  padding-bottom: 12px;
  text-align: center;
  clear: both;
}
.commentform label {
  color: #294a59;
  margin-bottom: 2px;
  display: block;
  }
.commentform input {
  width: 150px;
  margin-bottom: 10px;
  }
.commentform textarea {
  margin-bottom: 20px;
  }
input.submit {
  width: 150px;
  margin-bottom: 6px;
  margin-left: 173px;
  display: block;
  }


/* ------------------------------------------------------------------------------
                                                          footer
------------------------------------------------------------------------------ */
.footer {
  background: url(img/footerbg3.gif) no-repeat;
  width: 730px;
  height: 120px;
  padding: 0px 15px 0;
  color: #fff;
  font-size: 11px;
  display: block;
  float: left;
  }
p.foot1 {
  float: left;
  padding-top: 25px;
}
p.foot2 {
  padding-top: 25px;
  float: right;
  text-align: right;
  margin-right:5px;
}
.footer a {
  color: #fff;
  }
.footer a:hover {
  background-color: #650000;
  text-decoration:none;
  }
.foot2 a:hover {
  background-color: #294A59;
  }


/* ------------------------------ clear ------------------------------ */
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
